/*!

Author: Jackson A. Chegenye
Author URI: http://jchegenye.me

*/


/*Top Bar sTYLE*/
.dropdown-menu{
    background-color: #21bde3;
    border-radius: 0;
}
.dropdown-divider{
    border-top: 1px solid #00000014;
}
.dropdown-item{
    color: #ffffff;
}

#mymenu {
    /*height: 120px;
    line-height: 120px;*/
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
    z-index: 99999;
}
.scrolled-nav {
    /*height: 60px !important;
    line-height: 60px !important;*/
   /* background-color: #000000a6 !important;*/
     -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

#verticles {
    top:60px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}
.sub-scrolled-nav{/*
    height: 110px !important;
    line-height: 110px !important;*/
    padding: 10px !important;
    display: table;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}
.sub-scrolled-nav h2{
    display: none;
}
.sub-scrolled-nav .icon_box {
    height: 50px !important;
    line-height: 50px !important;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

.sub-scrolled-nav .icon_box img {
    height: inherit;
    object-fit: contain;
}


.scrolled-nav{
    height: 70px;
}

.scrolled-nav img{
   /* width: 50%;*/
   /* height: 50px;*/
    /*line-height: 50px;*/
    -webkit-transition: width .5s; /* Safari */
    transition: width .5s;
}
/*eND OF TOB bAR STyle*/


.suspended_icon img{
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 999;
    width: 50px;
}

.make_bg_gray{
    background-color: #ededed;
    padding-top: 40px;
    padding-bottom: 40px;
}
.spacing-bg{
    padding-top: 60px;
    padding-bottom: 90px;
}
.spacing-md{
    margin-top: 30px;
}
.spacing-md-bottom{
    margin-bottom: 30px;
}
.spacing-md-md{
    margin-top: 60px;
    margin-bottom: 30px;
}
.border_our_soln{
    border: 1px solid #22bde3;
    padding: 35px;
}
.underline{
	width: 28%;
    background-color: #000;
    border: 2px solid;
    margin: auto;
    margin-top: 10px;
}
.underline-2{
    border: 1px solid;
    margin-top: 10px;
    border-style: dashed;
}
.title-medium{
    margin-bottom: 40px;
}
.title-small-top{
    margin-top: 20px;
}
.emphasize-center{
    margin: auto;	
}
.btn-primary{
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #53aaff;
    background-color: #53aaff;
    margin-top: 10px;
    box-shadow: 0px 3px 0px #19335f;
    border-radius: 0;
}

.title-blue,
.navbar-dark .nav-item.active a,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #53aaff !important;
}
.navbar-dark{
    background-color: #000;
    
}	
.navbar-dark .navbar-nav .nav-link{
	color: #fff !important;
}


.boxi{
	position: absolute;
    top: 33%;
    color: #fff;
    left: 13%;
}
.owl-one .owl-dots{
    position: absolute;
    bottom: 22px;
    left: 50%;
}
.latest_news{
	background-color: #183e75;
    padding-top: 15px;
    color: #fff;
}

.horizontal_line{
    color: #000;
}

#verticles{
	background-color: #53aaff;
	color: #fff;
}
#verticles .icon_box{
	background-color: #c7c8c8;
	height: 175px;
	cursor: pointer;
}
#verticles .icon_box h6{
 	text-align: center;
 	font-size: 0.8em;
 	background-color: #808285;
    padding: 10px 0px;
}
#verticles .icon_box img:hover{
    background-color: #000;
}

.anchor-nav{
    display: block;
    top: 250px;
    position: relative;
}

#verticles a{
    color: #fff;
    text-decoration: none;
}

#partner-eco{
	background-color: #53aaff;
	color: #fff;
}

/*SOLUTIONS*/
.bg_header_img{
    background: url(assets/home-page-bg.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    color: #fff;
}
.benefits{
    background: url(assets/solutions/unlimit-control/background_1.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.correct_margin{
    margin: auto;
}
.ticks{
    width: 10%;
    height: auto;
    color: #fff;
    font-family: 'FontAwesome';
}
.ticks:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    margin-top: 5px;
}
.benefits .title-small p{
    color: #000;
}
.header_overlay{
    padding: 30px;
}
.vertical-align {
    display: flex;
    align-items: center;
}
.soln_box1, .soln_box2, .soln_box3{ 
    padding: 25px 15px;
    height: 200px;
}
.soln_box1{
    background-color: #03749c;
    color: #fff;
}
.soln_box2{
    background-color: #0aa5cb;
    color: #fff;
}
.soln_box3{
    background-color: #2fc8ee;
    color: #fff;
}
.verticle .correct_margin{
    margin: 100px 0px;
}
#verticles .v_mainpage{

}

/*Events*/
.blog_box{
    border:1px solid #53aaff;
    padding: 15px;
}
#events .nav-tabs .nav-link.active{
    font-weight: 800;
}
#events .nav-tabs .nav-link{
    border-color: transparent;
    border-right: 1px solid #e9e9e9;
    border-radius: 0;
    padding: 0;
}
#events .nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
/*FOOTER*/
#footer{
	background-color: #000;
	padding-top: 60px;
	color: #fff;
}
#footer .list-inline a{
	color: #8bafb8;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;
}
#footer .list-inline a:hover{
    color: #53aaff;
}
#footer hr{
    border-top: 1px solid rgb(67, 67, 67);
}
#footer .sub-footer{
	padding-bottom: 15px;
}
#footer .fa{
	background-color: #8baeb7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #000;
    cursor: pointer;
}

.form-control{
    border: 1px solid #f0f0f0 !important;
    width: 100%;
    padding: 12px;
    background-color: #f5f5f5;
}